/tmp
/data
/dataOld
/.idea
locals.py
locals.pyc
credentials.py
credentials.pyc
/omero_lib/sample/credentials.py
/omerolib/sample/locals.py
/img
/figure
converter.py
*.pyc
test.py
/measure
Wood.html
ThreadPool.py